*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App{
  background-color: #f2b0d0;
  color: rgb(157, 2, 2);
  height: 100vh;
  width: 100vh;
  padding-left: 100px;
  
}
.App-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.bear{
  max-width: 300px;
}

.bear2{
  max-width: 450px;
}

.noButton{
  background-color: rgb(153, 11, 11);
  color: white;
  border: 1px solid  rgb(153, 11, 11);
  border-radius: 6px;
  box-shadow: rgb(153, 11, 11) 1px 0;  cursor: pointer;
  padding: 1rem 2rem;
  margin-left: 1rem;

}

.yesButton{
  background-color: rgb(5, 196, 94);
  color: white;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;  cursor: pointer;
  padding: 1rem 2rem;


}


.yay{
  margin-top: 2rem;
  font-size: 40px;
}